@use 'hero';
@use './components/infos_bar';
@use './components/buttons';
@use 'event';
@use 'variables';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$secondaryTextColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        max-width: 90%;
    }

    @media (max-width: 640px) {
        max-width: 80%;
    }
}

body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

